@model IEnumerable<_01___CP_DBModel.CastingDirector>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Admin.PKAmin_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Login.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Admin.PKAmin_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Login.UserName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PKCD_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PKCD_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PKCD_ID })
        </td>
    </tr>
}

</table>
